node_modules
artifacts
cache
gasreport-*
generated
.env
*.DS_Store
build
forge-cache
out
deployments/**/.pendingSafeTransactions
deployments/localhost
.deps/
package-lock.json
remix.config.json
.deps/
